<head>
    <title>Albums</title>
</head>
    <body>
        {% with messages = get_flashed_messages() %}
         {% if messages %}
               {% for message in messages %}
                   <p><h1 style = "font-size:3vw">{{ message }}</h1></p>
               {% endfor %}
         {% endif %}
        {% endwith %}
    <div class="title">
            <h1>Your albums (Click on an album to delete it!)</h1>
        </div>
    {% if albums %}
    <ul>
    {% for album in albums %}
        <li><a href="\delete_album?id={{ album[0] }}">{{album[1]}}</a></li>
    {% endfor %}
    </ul>
{% endif %}
    </body>
<a href='/'>Home</a>
