<head>
    <title>Manage Friends</title>
</head>
    <body>
    {% with messages = get_flashed_messages() %}
         {% if messages %}
               {% for message in messages %}
                   <p><h1 style = "font-size:3vw">{{ message }}</h1></p>
               {% endfor %}
         {% endif %}
    {% endwith %}
            <div class="title">
            <h1>Manage friends</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/friends">
                <label for="friend_email">Add a friend via email:</label>
                <input type ="email" name = "friend_email"/><input type="submit" value = "Add"/><br />
            </form>
    <h2>Friends list</h2>
    {% if friends %}
    <ul>
    {% for friend in friends %}
        <li>{{friend[0]}} {{friend[1]}}: {{friend[2]}}</li>
    {% endfor %}
    </ul>
    {% endif %}
    <h2>Friend recommendations</h2>
    <ul>
    {% if friend_recs %}
    {% for possible in friend_recs %}
        <li>{{ possible[0] }} {{possible[1]}}: {{possible[2]}}</li>
    {% endfor %}
    </ul>
    {% endif %}
    </body>
<a href='/'>Home</a>
